@import './base.css';

input {
  border: 1px solid #9BA3AF;
  border-radius: 9px;
  height: 50px;
  width: 100%;
  padding: 0.375rem 1rem;
}
input::placeholder{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.364px;
  color: #9BA3AF;
}

.tab-content-label{
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.364px;
}

.btn-large{
  width: 200px;
  height: 40px;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline black;
  }
}
